<article class="excerpt">
<!-- Image -->
<a href="{{project.video}}" data-lity>
<div class="excerpt__image">
<img src="{{project.image}}" alt="{{project.title}}" />
</div>
</a>
<!-- End Image -->

<!-- Title -->
<h2 class="excerpt__title underline-black"><a href="{{project.video}}" data-lity>{{ project.title }}</a></h2>
<!-- End Title -->

<!-- Company -->
<p class="excerpt__with"><a href="{{project.video}}" data-lity>{{ project.company }} - {{ project.director }}</a></p>
<!-- End Company -->


</article>