<footer>
<!-- Top -->
<div class="row footer__top">
  <div class="small-12 medium-4 columns">
  <div class="detail">Contact</div>
  <a href="tel:07749979831">+44 (0) 7749 979 831</a>
  <a href="mailto:{{site.email}}" class="underline-from-left">{{site.email}}</a>
  <br>
  London, United Kingdom
  </div>
  
  <div class="small-12 medium-4 columns">
  <div class="detail">Follow</div>
  <a href="https://www.instagram.com/{{site.instagram}}">Instagram</a><br>
<!--   <a href="https://vimeo.com/{{site.vimeo}}">Vimeo</a><br> -->
  </div>
</div>
<!-- End Top -->

<!-- Bottom -->
<div class="row expanded footer__bottom">
  <div class="small-6 medium-6 columns align-middle text-left">
  <a href="#" class="underline-from-left">© {{site.company}}</a>
  </div>
  
  <div class="small-6 medium-6 columns text-right">
  <a href="http://garethjohnsdesign.com">Site</a>
  </div>
</div>
<!-- End Bottom -->

</footer>
	
