@font-face {
  font-family: 'LyonText-Regular';
  src: 
  url('../fonts/LyonText-Regular.woff') format('woff'), 
  url('../fonts/LyonText-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LyonText-RegularItalic';
  src: 
  url('../fonts/LyonText-RegularItalic.woff') format('woff'), 
  url('../fonts/LyonText-RegularItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'lg';
  src: 
  url('../fonts/lg.woff') format('woff'), 
  url('../fonts/lg.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}