@font-face {
  font-family: 'LyonText-Regular';
  src: 
  url('../fonts/LyonText-Regular.woff') format('woff'), 
  url('../fonts/LyonText-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'BasisGrotesque-OffWhite';
  src: url('../fonts/BasisGrotesque-OffWhite.eot?#iefix') format('embedded-opentype'),  url('../fonts/BasisGrotesque-OffWhite.woff') format('woff'), url('../fonts/BasisGrotesque-OffWhite.ttf')  format('truetype'), url('../fonts/BasisGrotesque-OffWhite.svg#BasisGrotesque-OffWhite') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/