---
layout: default
---

<!-- Content -->
<section class="about__content">
	<div class="row">
		<div class="small-11 medium-10 large-8 columns">
		<h3>Profile</h3>
		{{ page.content | markdownify }}
		</div>
	</div>
</section>
<!-- End Content -->

<!-- CV -->
<section class="about__cv">
	{% assign collection = site.projects | group_by: "medium" %}
	{% for group in collection %}
		<div class="row">
		<div class="small-12 columns">
			<h3>Projects</h3>
			<table class="hover">
			  <tbody>
				{% assign collectionsorted = group.items | sort: 'date' | reverse %}
				{% for item in collectionsorted %}
			    <tr>
			      <td>{{item.title}}</td>
			      <td>{{item.company}}</td>
			      <td>{{item.runtime}}</td>
			      <td>{{item.director}}</td>
			      <td>{{item.producers}}</td>
			      <td>{{item.role}}</td>
			      <td>{{item.date | date: '%Y'}}</td>
			    </tr>
			    {%endfor%}
			  </tbody>
			</table>
		</div>
		</div>
	{%endfor%}
</section>
<!-- End CV -->