---
layout: default
---

<!-- Description -->
	<div class="row">
		<div class="small-10 medium-8 columns">
		<h2>{{site.description}}</h2>
		</div>
	</div>
<!-- End Description -->

<!-- Projects -->
<div class="row projects small-up-1 medium-up-2 large-up-2 xlarge-up-2">
  {% assign projects = site.projects | sort: 'date' | reverse | where: "is-featured", "true" %}
  {% for project in projects %}
    <div class="columns">
    {% include excerpt.html %}
    </div>
  {% endfor %}
</div>
<!-- End Projects -->